/*@charset "utf-8";*/

*{margin:0;padding:0;background:red;}


header, footer, main {
    display: block;
}
*{background:skyblue;}

header {
    /*或者absolute*/
    position: fixed;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    background:skyblue;
}

footer {
    position: fixed;
    /*或者写成absolute*/
    height: 34px;
    left: 0;
    right: 0;
    bottom: 0;
}

.main {
    width:100%;
    /* main绝对定位，进行内部滚动 */
    position: absolute;
    top: 50px;
    bottom: 34px;
    /* 使之可以滚动 */
    overflow-y: scroll;
    /* 增加该属性，可以增加弹性，是滑动更加顺畅 */
    -webkit-overflow-scrolling: touch;
}

.main .content {
    height: auto;
}